@media (min-width: 64rem) {
    .prediction-box {
        width: 85%;
        padding: 1.5rem;
        margin-top: 0.5rem;
        font-size: 0.7em;
    }

    .prediction-title {
        width: fit-content;
        font-size: 2.3em;
        margin-left: 1rem;
        margin-right: unset;
    }

    .prediction-topn {
        font-size: 1.3em;
    }
}
